@layer root, base, typography, layout, logos, toolbar;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import 'root.css' layer(root);
@import 'logos.css' layer(logos);
@import 'toolbar.css' layer(toolbar);

@layer base {
  
  body {
    margin: 0;
    font: var(--font-size)/var(--line-height) var(--font-stack);
    color: var(--color-text);
    background: var(--color-background);
  }
  
  :where(a),
  :where(a):visited {
    /* Demonstrating one approach to handling link state colors through a local CSS var */
    --a-color: var(--color-link);
    color: var(--a-color);
  }
  
  :where(a):hover {
    --a-color: var(--color-link-hover);
  }
  
  :where(a):focus {
    --a-color: var(--color-link-focus);
  }

  :is(*, :hover):focus-visible {
    outline-color: var(--color-link-focus-ring);
    outline-offset: 3px;
    outline-style: solid;
    outline-width: 3px;
    border-radius: 2px;
    transition: none;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  .cta {
    --a-color: var(--color-cta-text);

    display: inline-flex;
    align-items: center;
    padding-block: calc(var(--ui-spacing-block) * 1.5);
    padding-inline-start: calc(var(--ui-spacing-inline) * 1.5);
    padding-inline-end: calc(calc(var(--ui-spacing-inline) * 1.5) + 0.5rem);
    border: var(--border-width) solid var(--color-cta-border);
    border-radius: var(--ui-border-radius);
    background: var(--color-cta-bg);
    text-decoration: none;

    &::after {
      display: inline-block;
      content: "";
      margin-inline-start: 0.5rem;
      width: 0.5rem;
      height: 0.5rem;
      border-block-start: 2px solid var(--a-color);
      border-inline-start: 2px solid var(--a-color);
      transform: rotateZ(135deg);
    }

    :where(abbr) {
      border-block-end-color: var(--a-color);
    }

    &:hover {
      --a-color: var(--color-cta-text-hover);
      background: var(--color-cta-bg-hover);

      &::after {
        animation: cta 600ms ease forwards;
      }
    }
  }

  :where(abbr) {
    text-decoration: none;
    border-block-end: 1px dotted var(--color-text);
  }
}

@layer typography {
  :where(h1) {
    margin: 0;
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 500;
  }
  
  :where(h2) {
    margin: 0;
    font-size: 0.875rem;
    line-height: var(--line-height);
    text-transform: uppercase;
  }
  
  :where(h3) {
    margin: 0;
    font-size: 0.875rem;
    line-height: var(--line-height);
  }
  
  header p {
    margin: 0;
  }
}

@layer layout {
  #page {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem;
  
    min-height: 100vh; /* better sticky footer! */
    display: grid;
    grid-template-columns: 1fr; /* Mobile-first, of course */
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "";
    grid-gap: 1rem;

    @media (min-width: 60rem) {
      padding: 2rem 1rem;
    }
  }

  #breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-flex;
      list-style: none;
      margin-block-end: calc(var(--font-size) * 0.5);
      padding-inline-end: var(--font-size);
      vertical-align: bottom;
      align-items: center;
      gap: var(--font-size);

      &:first-child {
        padding-inline-start: 0;
      }

      &:not(:first-of-type)::before {
        display: inline-block;
        content: "";
        margin-inline-start: 0.5rem;
        width: 0.5rem;
        height: 0.5rem;
        border-block-start: 2px solid var(--color-text-subtle);
        border-inline-start: 2px solid var(--color-text-subtle);
        transform: rotateZ(135deg);
      }

      a {
        &[aria-current] {
          color: var(--color-text);
          text-decoration: none;
        }
      }
    }
  }

  main {
    /* Normal flow on mobile */

    @media (min-width: 60rem) {
      display: grid;
      grid-template-columns: 38rem auto;
      grid-template-areas: "about social";
      gap: 4rem;
    }
  }
  
  header,
  #about {
    margin-block-end: 2rem;
  }

  #about {
    grid-area: about;

    #avatar {
      display: inline-block;
      margin-block-end: 1rem;
      width: 100%;
      max-width: 8rem;
      height: auto;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      shape-outside: circle(calc(50% + 1rem));
    }

    #icon-hand-wave {
      width: var(--wave-icon-size);
      height: var(--wave-icon-size);
      rotate: -10deg;

      @media (min-width: 67rem) {
        float: left;
        margin-inline-start: calc(calc(var(--wave-icon-size) + 1rem) * -1);
      }
    }

    p:first-of-type {
      margin-block-start: 0.5rem;
    }

    .resume {
      margin-block-start: 3rem;
    }
  }
  
  #social {
    --social-link-size: 7rem;

    grid-area: social;
    margin: 4rem 0;
    padding-block-start: 2rem;
    border-block-start: var(--border-width) solid var(--color-border-subtle);

    h2 {
      text-align: center;
    }

    ul {
      position: relative;
      margin: 2rem 0 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      justify-items: center;

      li {
        display: flex;
        width: var(--social-link-size);
      }

      @media screen and (min-width: 60rem) {
        grid-template-columns: 1fr 1fr;
      }
    }

    a {
      --social-color: var(--color-text);
      --social-bg-color: transparent;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;
      padding: 1rem;
      width: var(--social-link-size);
      height: var(--social-link-size);
      text-decoration: none;
      text-align: center;
      color: var(--social-color);
      background: var(--social-bg-color);
      border-radius: var(--border-radius-pill);

      &:hover {
        --social-color: var(--color-tile-text-hover);
        --social-bg-color: var(--color-tile-bg-hover);
      }

      &:focus {
        --social-color: var(--color-tile-text-focus);
        --social-bg-color: var(--color-tile-bg-focus);
      }

      @media (prefers-reduced-motion: no-preference) {
        &:hover,
        &:focus {
          svg {
            animation: bounce 600ms ease;
            transform-origin: center;
            transform-box: fill-box;
          }
        }
      }

      span {
        display: block;
        margin-block-start: 0.5rem;
        font-size: 0.75rem;
        line-height: 1.3em;
      }
    }

    svg {
      width: 3rem;
      height: 3rem;
      /* Demonstrating a 2nd approach to the bi-modal SVG (i.e., reacting to color-scheme). Checkout the hand-wave icon in index.html OR mc-scheme-select.js for the 1st approach. */
      fill: var(--social-color);
    }

    .github svg,
    .medium-soccer svg {
      padding: .25rem;
      height: auto;
    }

    @media (min-width: 60rem) {
      margin-block-start: 0;
      padding-block-start: 0;
      border-block-start: 0;
    }
  }
}

@keyframes cta {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0.25em 0;
  }
}

@keyframes motion-fade {
  30% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}