@layer base, typography, layout, rhythm;

:root {
  --font-size: 16px;
  --line-height: 1.5rem;
  --background-color: #fff;
  --text-color: #333;
  --link-color: #06c;
  --link-color-visited: rebeccapurple;
  --link-color-hover: #004080;
  --font-stack: "Roboto", "Helvetica", Arial, sans-serif;
  --font-stack-heading: "Roboto Condensed", "Helvetica", Arial, sans-serif;

  --grid-baseline: 1.5rem;
  --grid-baseline-shift: 0;
  --grid-thickness: 1px;
  --grid-color: hsla(204, 80%, 72%, 0.25);

  --background-baseline: repeating-linear-gradient(
    to bottom,
    var(--grid-color),
    var(--grid-color) var(--grid-thickness),
    transparent var(--grid-thickness),
    transparent var(--grid-baseline)
  );
}

@layer base {
  *, *::before, *::after { box-sizing: border-box; }

  body {
    margin: 0;
    padding: 1.5rem;
    background: var(--background-color);
  }

  :where(a) {
    color: var(--link-color);
  }
  
  :where(a):visited {
    color: var(--link-color-visited);
  }
  
  :where(a):hover,
  :where(a):focus {
    color: var(--link-color-hover);
  }
  
  :where(a:focus) {
    outline: 2px dotted var(--link-color);
  }
  
  :where(a[target="_blank"])::after {
    content: "\29c9"; /* Unicode symbol of 2 stacked squares or "windows" */
    position: relative;
    inset-block-start: -4px;
    display: inline-block;
    margin-inline-start: 4px;
    vertical-align: top;
    font-size: 1.25em;
  }
  
  :where(abbr) {
    text-decoration: none;
    border-block-end: 1px dotted var(--text-color);
  }

  :where(address) {
    margin-block-start: 1.5rem;
    font-style: normal;
  }

  .visually-hidden,
  .vcard .fn,
  .colon {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
}

@layer typography {
  body {
    font: var(--font-size)/var(--line-height) var(--font-stack);
    color: var(--text-color);
  }

  :where(h1) {
    margin-block-start: .5rem;
    margin-block-end: 1rem;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1em;
    font-weight: 400;
    font-family: var(--font-stack-heading);
  }
  
  :where(h2) {
    margin-block-start: .5rem;
    margin-block-end: 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  :where(h3) {
    margin-block: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  :where(p) {
    margin-block-start: 0;
    margin-block-end: 1.5rem;
  }
}

@layer layout {
  article {
    width: 100%;
    margin: 0 auto;
    padding-block-start: 1.5rem;
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 0;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header  header  header"
                         "content content content"
                         "sidebar sidebar sidebar";
  }
  
  header {
    grid-area: header;
    position: relative;
    margin-block-end: 2.5rem;
  }
  
  header strong {
    font-weight: normal;
  }
  
  .content {
    grid-area: content;
  }
  
  aside {
    grid-area: sidebar;
    margin-block-start: 1.5rem;
  }
  
  /* Divding borders */
  .content > section,
  aside section {
    position: relative;
  }
  
  aside section {
    margin-block-start: 3rem;
  }
  
  aside section:first-child {
    margin-block-start: 0;
  }
  
  header::before {
    position: absolute;
    inset-inline-start: 0; inset-block-start: -.75rem;
    width: 100%;
    height: 1px;
    content: '';
    border-block-start: 0.375rem solid var(--text-color);
  }
  
  .content > section::before,
  aside section::before {
    position: absolute;
    inset-inline-start: 0; inset-block-start: -1.25rem;
    width: 100%;
    height: 1px;
    content: '';
    border-block-start: 0.125rem solid var(--text-color);
  }
  
  .subsection {
    margin-block-end: 3rem;
  }
  
  .institution {
    margin-block-end: 0;
  }

  .vcard .fn + br {
    display: none;
  }
  
  .subsection ul,
  aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .subsection li,
  aside li {
    padding-inline-start: 1rem;
    margin: 0;
  }
  
  .subsection li::before,
  aside li::before {
    position: relative;
    content: "+";
    margin-inline-start: -1rem;
    float: left;
    line-height: 1.25rem;
  }

  @media (min-width: 768px) {
    article {
      width: 720px;
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas: "header  header  header"
                           "content content sidebar";
    }
  
    aside {
      margin-block-start: 0;
    }
  }
  
  @media (min-width: 992px) {
    article {
      width: 960px;
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas: "header  content  content"
                           "sidebar content content"
                           "sidebar  content  content";
    }
  
    header {
      margin-block-end: 0;
    }
  
    aside {
      margin-block-start: 1.5rem;
    }
  
    aside section:first-child {
      margin-block-start: 1.5rem;
    }
  
    .education h3 > .date,
    .experience h3 > .date {
      float: right;
      font-weight: normal;
    }
  
    .tel > .type,
    .tel > .comma,
    .education .date-comma,
    .experience .date-comma {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }
  
  @media (min-width: 1200px) {
    article {
      width: 1140px;
    }
  }  
}


@layer rhythm {
  .horiz-rhythm {
    background-image: var(--background-baseline);
    background-size: 100% var(--grid-baseline);
    background-position: 0 var(--grid-baseline-shift);
  }
  
  .btn-rhythm {
    display: none; /* for mobile */
    position: absolute;
    inset-inline-end: 1rem;
    inset-block-start: 1rem;
    z-index: 999;
    padding: .5rem 1rem;
    background: var(--background-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 3px;
  }
  
  @media (min-width: 768px) {
    .btn-rhythm {
      display: block;
    }
  }
  
  .btn-rhythm:hover,
  .btn-rhythm:focus {
    border-color: var(--link-color);
    color: var(--link-color);
  }
  
  .btn-rhythm.selected {
    background: var(--text-color);
    color: var(--background-color);
  }
}

@media print {
  .btn-rhythm {
    display: none;
  }

  :root {
    --font-size: 9pt;
  }

  body,
  html {
    font: var(--font-size)/var(--line-height) var(--font-stack);
  }

  body {
    padding: 1.5rem 0;
  }

  a:not(.url)[href]:after {
    content: " (" attr(href) ")";
  }

  article {
    padding: 0;
    display: table;
  }

  header,
  aside {
    display: table-cell;
    width: 30%;
  }

  main {
    display: table-cell;
    width: 70%;
    padding-inline-start: 2rem;
  }

  /* since CSS Grid doesn't work in print yet :-( */
  aside {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 16.5rem;
  }
}
