mc-toolbar {
  --mc-scheme-select-label-size: 0.875rem;
  --mc-rhythm-toggle-label-size: 0.875rem;
  --mc-scheme-select-min-width: 8rem;
  --mc-rhythm-button-min-width: 8rem;

  @media (min-width: 48rem) {
    --mc-scheme-select-display: flex;
    --mc-scheme-select-display-direction: column;
    --mc-scheme-select-display-gap: 0.25rem;
    --mc-scheme-select-display-align: flex-start;
    --mc-rhythm-toggle-display: flex;
    --mc-rhythm-toggle-display-direction: column;
    --mc-rhythm-toggle-display-gap: 0.25rem;
    --mc-rhythm-toggle-display-align: flex-start;
  }
}
